* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body hr {
	background: #ff9d00;
	width: 20%;
	height: 5px;
	border: none;
	margin: 20px 0;
	border-radius: 50px;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background: #ff9d00;
	border-radius: 5px;
}