<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/src/css/index.css">
    <link rel="stylesheet" href="../static/src/css/login.css">
    <title id="title"></title>
</head>

<body class="">
    <div class="container-fluid">
        <!--Inicio nav-->
        <div class="row bg-opacity-90" style="padding: 1% 0 1% 0 ; background-color:#34b334">
            <div class="col-2">
                <img src="../static/src/img/logo.png" alt="" class="image-responsive img-logo">
            </div>
            <div class="col-6">
                <nav class="nav justify-content-center">
                    <a class="text-color nav-link" href="index.html">Inicio</a>
                    <a class="text-color nav-link" href="#">Nosotros</a>
                    <a class="text-color nav-link" href="#">Cursos</a>
                    <a href="Planes.guitarra.html" class="text-color nav-link">Planes</a>
                    <a href="#" class="text-color nav-link">Preguntas</a>
                </nav>
            </div>
            <div class="col-4">
                <div class="login-borde">
                    <nav class="nav justify-content-center posicion-login">

                        <a name="" id="" class="nav-link text-color" href="#">Ingresar</a>
                        <p class="separar">|</p>
                        <a name="" id="" class="nav-link text-color" href="#">Registro</a>

                    </nav>
                </div>
            </div>
        </div>
        <!--Fin nav-->
        <!--Contenido principal-->

        <!--Contenido principal 4-->
        <div class="contenedor-login">

            <div class="card-body card-login">
                <div class="header">
                    <h5>
                        Ingresar
                    </h5>
                </div>
                <form action="" id="form_login">
                    <div class="mb-3 row">
                        <label for="inputuser" class="col-sm-2 col-form-label">Usuario</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputuser" name="inputuser">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" name="inputPassword">
                        </div>
                    </div>
                    
                    <div class="d-grid gap-2 col-3 mx-auto">
                        <button type="submit" class="btn btn-success ">Acceder</button>
                    </div>
                </form>
            </div>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="../static/src/js/jquery-3.6.0.min.js"></script>
        <script src="../static/src/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../static/src/js/datos/login.js"></script>
</body>

</html>