<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/src/css/index.css">
    <title id="title"></title>
</head>

<body class="">
    <div class="container-fluid">
        <!--Inicio nav-->
        <div class="row bg-opacity-90" style="padding: 1% 0 1% 0 ; background-color:#34b334">
            <div class="col-2">
                <img src="../static/src/img/logo.png" alt="" class="image-responsive img-logo">
            </div>
            <div class="col-6">
                <nav class="nav justify-content-center">
                    <a class="text-color nav-link" href="index.html">Inicio</a>
                    <a class="text-color nav-link" href="#">Nosotros</a>
                    <a class="text-color nav-link" href="#">Cursos</a>
                    <a href="Planes.guitarra.html" class="text-color nav-link">Planes</a>
                    <a href="#" class="text-color nav-link">Preguntas</a>
                </nav>
            </div>
            <div class="col-4">
                <div class="login-borde">
                    <nav class="nav justify-content-center posicion-login">

                        <a name="" id="" class="nav-link text-color" href="#">Ingresar</a>
                        <p class="separar">|</p>
                        <a name="" id="" class="nav-link text-color" href="#">Registro</a>

                    </nav>
                </div>
            </div>
        </div>
        <!--Fin nav-->
        <!--Contenido principal-->

        <!--Contenido principal 4-->
        <div class="contenedor-main-4">
            <div class="contenedor-planes ">
                <div class="row">
                    <div class="col-8">
                        <div class="card-body">
                            <h1>Curso de Guitarra</h1>
                            <p class="text-justify">El presente curso pretende brindar un compilado de herramientas,
                                consejos y tips prácticos, en cuanto al manejo de la guitarra, para fortalecer sus
                                capacidades melódicas y musicales, teniendo en cuenta su estructura, composición,
                                ejercicios y técnicas.</p>
                                <h5>Profesor: Daniel Leon Gonzales</h5>
                                <div class="sub-contenedor-main-4">
                                    <div class="contenedor-planes ">
                                        
                                        <div class="row ">
                                            <div class="col-12">
                                                <h2 class="text-center">Que aprenderas?</h2>
                                                <h3>Plan Basico e Intermedio</h3>
                                                <div class="card-body">
                                                    <h4> 1. Teoría Musical</h4>
                                                    <p> - Lenguaje musical: solfeo y/o lenguaje en tablatura</p>
                                                    <p>- Armonía básica: escalas y acordes, tonalidades, análisis de progresiones...</p>
                                                    <p>- Lectura de cifrado armónico</p>
                                                    <p>- Educación auditiva: trabajo armónico de acordes e intervalos.</p>
                                                    <p>- Educación rítmica: trabajo con el metrónomo</p>
                                                    <h4>2. Ejecicios</h4>
                                                    <p>- Los acordes y sus distintas posiciones</p>
                                                    <p>- Tocar canciones de diversos estilos con estos acordes</p>
                                                    <p>- Armonía aplicada al instrumento que nos ayude a poder tocar canciones en todos los
                                                        tonos o a poder componer</p>
                                                    <p>- Aprender melodías y solos</p>
                                                    <p>- Acompañamiento para cantar con el instrumento</p>
                                                    <p>- Transcricpción y análisis de canciones y solos</p>
                                                    <p>- Nociones rítmicas para poder acompañarnos mejor</p>
                                                    <p>- Método CAGED: 5 posiciones para cada acorde</p>
                                                    <p> Blues: acompañamiento e improvisación con la escala pentatónica mayor y menor.
                                                        Conocimiento de la progresión armónica y desarrollo en todos los tonos.</p>
                                                    <p>- Improvisación sobre progresiones tonales con escalas y arpegios</p>
                                                    <h4>3. Tecnicas </h4>
                                                    <p> - Escala pentatónica, diatónica y arpegios: 5 posiciones siguiendo el método CAGED</p>
                                                    <p>- Púa contra púa</p>
                                                    <p>- Fingerpicking básico</p>
                                                    <p>- Tapping básicop</p>
                                                    <p>- Ligados</p>
                                                    <p>- Slide</p>
                                                    <p>- Vibrato</p>
                                                    <p>- Bending</p>
                                                    <p>- Harmónicos</p>
                                                </div>
                                                <h3>Plan Avanzado</h3>
                                                <div class="card-body">
                                                    <h4>1. Teoria musical</h4>
                                                    <p>- Armonía avanzada: relación escala-acorde, dominantes secundarias, armonía modal, las
                                                        escalas armónica y melódica y sus distintos modos, construcción de acordes de tetrada y
                                                        sus extensiones, inversiones, movimiento de voces, modulaciones, rearmonización...</p>
                                                    <p>- Análisis de standards de jazz y canciones de otros estilos</p>
                                                    <p>- Dictados</p>
                                                    <p>- Improvisación horizontal y vertical</p>
                                                    <p>- Conceptos rítmicos avanzados: compases de amalgama, poliritmia, trabajo del fraseo,
                                                        aceleración y retraso del pulso, modulación rítmica...</p>
                                                    <p>- Lenguaje estilístico: jazz, blues, rock, pop...</p>
                                                    <h4>2. Práctica</h4>
                                                    <p>- Patrones y ejercicios con escalas y arpegios</p>
                                                    <p>- Transcripción de solos y análisis según los conceptos teóricos y estilísticos</p>
                                                    <p>- Sustitución de acordes</p>
                                                    <p>- Poliacordes</p>
                                                    <p>- Inversiones y drops</p>
                                                    <p>- Comping</p>
                                                    <p>- Blues avanzado: escalas de blues, escala eneáfona, fraseos de blues, distintas
                                                        rearmonizaciones de la progresión armónica...</p>
                                                    <p>- Repertorio</p>
                                                    <p>- Standards de jazz</p>
                                                    <p>- Técnicas de estudio y aprendizaje</p>
                                                    <h4>3. Técnica</h4>
                                                    <p>- Ejercicios de velocidad en escalas y arpegios</p>
                                                    <p>- Trabajo sobre el metrónomo con las nuevas nociones rítmicas</p>
                                                    <p>- Ampliación del mapa del mástil</p>
                                                    <p>- Concepto de una sola posición para todo el mástil: escalas de tres notas por cuerda y
                                                        de cuatro notas por cuerda, escalas sobre una sola cuerda...</p>
                                                    <p>- Economy picking y sweep picking</p>
                                                    <p>- Contrapunto</p>
                                                    <p>- Improvisación avanzada: sobre progresiones como blues, standards de jazz, rhythm
                                                        changes, Coltrane changes o composiciones concretas.</p>
                                                    <p>- Conceptos de improvisación nuevos: una nota por cuerda, improvisación motívica,
                                                        improvisación "out", improvisación interválica, por chord tones...</p>
                                                    <p>- Lenguaje bebop según el método de Barry Harris: escalas bebop, notas de aproximación,
                                                        enclosures, sustituciones, frases cliché bebop...</p>
                                                    <p>- Fingerpicking avanzado</p>
                                                    <p>- Country: chickenpicking, licks, trabajo sobre la semicorchea recta...</p>
                                                    <p>- Funky: acompañamiento en semicorcheas, muteo, subdivisión rítmica, trabajo melódico
                                                        sobre las primeras cuerdas, strumming funk...</p>
                                                    <p>- Uso de pedales de efectos</p>
                                                    <p>- Arreglos</p>
                                                    <p>- Guía para tocar en distintos tipos de bandas</p>
                                                    <p>- Guía para afrontar una grabación de estudio</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="">
                            <div class="card-body color-card">
                                <div class="row">
                                    <div class="col-5">
                                        <img src="../static/src/img/C_guiatarra.jpg" width="140px" alt="">
                                    </div>
                                    <div class="col-7">
                                        <h3>curso de guitarra</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 hora">
                                        <div class="row">
                                            <div class="col-1">
                                                <ion-icon name="alarm-sharp"></ion-icon>
                                            </div>
                                            <div class="col-11">
                                                <p>120 horas de Duracion</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-1">
                                                <ion-icon name="text-outline"></ion-icon>
                                            </div>
                                            <div class="col-11">
                                                <p>Idioma en español</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button type="button" class="btn btn-primary tamaño-btn" >Inscribirme</button>
                                    </div>
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
            <script src="../static/src/js/jquery-3.6.0.min.js"></script>
            <script src="../static/src/js/bootstrap.min.js"></script>
</body>

</html>