<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Disceri Music - Curso</title>

    <link rel="shortcut icon" href="../static/src/img/ico.png" />

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <SCript src="../static/src/js/jquery-3.6.0.min.js"></SCript>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/src/css/scroll.css">
</head>

<body>
  <style>
    .tabs a.activar {
      background: white;
      border-bottom: 1px solid white;
    }

    .views .activar {
      display: block !important;
    }
  </style>
  <!-- barra de navegacion  -->
  <nav class="border-gray-700 shadow-inner tex-color w-full top-0 max-w-full bg-gray-900 width-f  ">
    <div class="max-w-6xl mx-auto px-4 pb-2 pt-4">
      <div class="flex justify-between">
        <div class="flex space-x-4">
          <!-- logo -->
          <div>
            <div class="text-center mt-2 ">
              <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
                <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
                  href="/" id="hola">
                  Disceri
                  <span
                    class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-gray-500 to-purple-500">Music
                  </span>
                </a>
              </h1>
            </div>
          </div>
          <!-- primary nav -->
          <div class="hidden md:flex items-center space-x-1 text-red-500">
            <a href="/cursos" class="py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded"><i
                class="fas fa-book"></i> Cursos</a>
            <a href="#"
              class="py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Planes</a>
            <a href="#"
              class="py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Preguntas</a>
          </div>
        </div>

        <!-- secondary nav -->

        {% if "usuario" in session: %}
        <div class="hidden md:flex items-center space-x-1 gap-6">
          <img src="../static/src/img/user.png" alt="..."
            class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow">
          <h1 class="text-white text-lg">Hola {{session["nombre"]}}</h1>
          <a href="/logout" class="text-white pr-4 pl-4 pt-2 pb-2 bg-yellow-500 rounded-lg ">Salir <i
              class="fas fa-sign-out-alt"></i></a>
        </div>
        {% else:%}
        <div class="hidden md:flex items-center space-x-1">
          <a href="/login" class="text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Ingresar</a>
          <a href="/registrar"
            class=" text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded transition duration-300">Registrar</a>
        </div>

        {% endif %}

        <!-- mobile button goes here -->
        <div class="md:hidden flex items-center">
          <button class="mobile-menu-button">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>

      </div>
    </div>

    <!-- mobile menu -->
    <div class="bg-gray-900 top-14 fixed mobile-menu hidden md:hidden">
      {% if "usuario" in session:%}
      <a href="/logout"
        class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Salir <i
          class="fas fa-sign-out-alt"></i></a>
      {% else:%}
      <a href="/login"
        class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Ingresar</a>
      <a href="/registrar"
        class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Registrar</a>
      {% endif %}
    </div>
    <!-- barra  menu abajo -->

    <div class="fixed w-full  max-w-full text-center bg-gray-900 flex justify-center bottom-0 left-0 md:invisible">
      <a href="/"
        class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Inicio</a>

      <a href="/cursos"
        class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Curso</a>
      <a href="#"
        class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Planes</a>
      <a href="#"
        class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Preguntas</a>
    </div>
  </nav>
  <!-- silabus -->
  <div class="flex md:flex-row  flex-col  ">
    <div class="flex-shrink p-2  bg-gray-800 invisible md:visible md:w-1/4  ">
      <div class="flex w-64 relative max-w-full max-h-full overflow-x h-96  ">
        <div class="absolute ml-3 h-full max-w-full max-h-full w-2 text-xs rounded bg-yellow-200">
          <div style="width:100%; height:0% ;"
            class="progreso shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-yellow-500">
          </div>
        </div>
        <ul class="list-none w-full h-full flex flex-col justify-between max-w-full max-h-full ">
          {% for video in urlvideo %}
          {% if video.acceso == true %}
          <a href="{{ video.url }}" id="{{ video.idmodulo }}"
            class="list-video relative flex text-yellow-500  hover:text-white transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 w-full">
            <p
              class="first:ml-0  absolute text-xs text-gray-100 font-semibold flex w-8 h-8 rounded-full items-center justify-center leading-tight relative border-2 border-solid  border-yellow-500 bg-yellow-700 ">
              {{ video.nro }}
            </p>
            {% else %}
            <a href="{{ video.url }}" id="{{ video.idmodulo }}"
              class="list-video relative flex text-yellow-500   hover:text-white transition duration-500 ease-in-out transform ">
              <p
                class="first:ml-0 absolute text-xs text-gray-400 font-semibold flex w-8 h-8 rounded-full items-center justify-center leading-tight relative border-2 border-solid  border-yellow-500 bg-yellow-700 ">
                <i class="fas fa-lock"></i>
              </p>
              {% endif %}
              <p class="ml-3 flex"> {{ video.titulo }} </p>
            </a>
            {% endfor %}
        </ul>
      </div>
    </div>
    <div class="flex-grow bg-gray-500 p-2 ">
      <div class="flex-col overflow-auto">


        <div class="bg-gray-900 w-full shadow rounded-lg p-2 overflow-auto">
          <div class="flex items-center space-x-2 text-gray-400 overflow-auto">
            <div class="flex items-center space-x-4 p-2">
              <button class="mr-12 text-1xl hover:text-yellow-500 ">
                <i class="far fa-thumbs-up"> </i>1000
              </button>
              <button class=" text-1xl hover:text-yellow-500">
                <i class="transform rotate-180 far fa-thumbs-up"></i>10
              </button>
            </div>
          </div>
          <iframe id="video" class="bg-gray-900 border-4 cambio w-full h-40 md:h-96 " src=""
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

          <div class="w-full flex flex-row flex-wrap mt-3 overflow-auto">
            <div class="w-3/4 ">
              <textarea class="bg-gray-200 w-full rounded-lg shadow bo  rder p-2" rows="1"
                placeholder="Comentario..."></textarea>
            </div>
            <div class="ml-2">
              <button type="button"
                class="float-right bg-indigo-400 hover:bg-indigo-300 text-white p-2 rounded-lg">Comentar</button>
            </div>
          </div>
          <div class="flex items-center mt-2 overflow-auto">
            <div class="flex items-center space-x-4 bg-yellow-500 p-4 border-full rounded-full">
              <a href="/u/zoltanszogyenyi" class="flex-shrink-0 w-10 h-10 overflow-hidden rounded-full shadow-sm  ">
                <img src="../static/src/img/241730852_2731534643650202_1536711991256020619_n.jpg" alt="zoltanszogyenyi"
                  class="object-cover w-full h-full">
              </a>
              <div class="flex flex-col">
                <p
                  class="font-semibold text-white dark:text-gray-200 sm:text-lg dark:hover:text-primary hover:text-primary hover:underline">
                  Daniel leon
                </p>
                <p class="text-white w-3/4 text-justify ">
                  estupendo video recomiendo que se explaye un poco
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-white flex-shrink bg-gray-800 md:w-1/4">
      <div class="shadow-inner ">
        <div class="m-2">
          <h1 class=" mt-2 p-2 text-center border-4 border-yellow-400 text-white rounded-t-lg">Materiales de trabajo
          </h1>
          <ul
            class="shadow-inner border-4 border-yellow-400 caja flex-col list-none divide-y text-align: justify overflow-auto h-32">
            <div class="divide-y mr-4 ml-4">
              <li id="lista" class="pb-4 hover:text-blue-500  documentospdf ">
                <i class="fas fa-file"></i> <a class="documentospdf" href=""></a>
              </li>
            </div>
          </ul>
          <h1 class=" mt-2 p-2 text-center border-4 border-yellow-400 text-white rounded-t-lg">Propocito de la Clase
          </h1>
          <ul class=" border-4 border-yellow-400 caja flex-col list-none text-align:justify overflow-auto h-32">
            <div class="p-4 descripcionvideo">



            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div
    class="cursor-pointer Open Modal transition shadow-lg animate-bounce fixed mt-8 mr-6 top-24 border-8 hover:border-gray-900 right-72 modal-open rounded-full flex items-center justify-center bg-yellow-500 hover:bg-yellow-600 text-white hover:text-yellow-500">
    <img class="w-24 h-24 p-5  " src="../static/src/img/carrito de compras.png" alt="">
    <p class="absolute mt-12 font-black  ">Comprar</p>
  </div>
  <!--Modal-->
  <!--Modal-->
  <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
      <div class="modal-content text-left bg-gray-800">
        <!--Title-->
        <div class="bg-gray-800 max-w-sm max-h-sm  h-auto bg-white rounded shadow-2xl">
          <div class="bg-gray-800 tabs flex text-sm items-center text-center justify-center ">
            <a class="px-4  p-4 mx-0.5 -mb-px  rounded-t-lg cursor-pointer hover:bg-white activar"
              mostrar="#uno"><img class="w-20" src="../static/src/img/Old_Visa_Logo.svg" alt=""></a>
            <a class="px-3 p-6 mx-0.5 -mb-px  rounded-t-lg cursor-pointer hover:bg-white"
              mostrar="#dos"><img class="w-20" src="../static/src/img/yape.png" alt=""></a>
          </div>
        </div>

        <!--Body-->
        <div class="views">
          <div id="uno" class="hidden p-3  border-pink-300  text-lg bg-white activar">
            <!-- form tarjeta de credito -->
            <form action="">
              <div class=" p-6 mt-2">
                <p class="text-center text-gray-800 font-medium">Tarjeta de credito</p>

                <div class="inline-block mt-2 w-full pr-1">
                  <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="NumeroT" name="NumeroT"
                    type="text" required="" placeholder="Numero de tarjeta" aria-label="NumeroT">
                </div>

                <div class="inline-block mt-2 w-1/2 pr-1">
                  <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="fecha" name="fecha" type="text"
                    required="" placeholder="MM/AA" aria-label="fecha">
                </div>

                <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
                  <label class="hidden block text-sm text-gray-600" for="cvv">Zip</label>
                  <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cvv" name="cvv" type="text"
                    required="" placeholder="CVV" aria-label="cvv">
                </div>

                <div class="inline-block mt-2 w-1/2 pr-1">

                  <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="Nombre" name="Nombre"
                    type="text" required="" placeholder="Nombre" aria-label="Nombre">
                </div>
                <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
                  <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="Apellidos" name="Apellidos"
                    type="text" required="" placeholder="Apellidos" aria-label="Apellidos">
                </div>

                <div class="mt-2 w-full">
                  <input class="w-full px-5  py-4 text-gray-700 bg-gray-200 rounded" id="Email" name="Email" type="text"
                    required="" placeholder="Email" aria-label="Email">
                </div>

                <div class="mt-4 w-full">
                  <button
                    class=" font-black text-2xl  text-center self-center w-full p-10 px-4 py-3 text-white font-light tracking-wider bg-gray-900 rounded"
                    type="submit"> Pagar 3.00 /S</button>
                </div>
                <button type="button"
                  class="mt-2 modal-close font-black text-2xl  text-center self-center w-full p-10 px-4 py-3 text-white font-light tracking-wider bg-red-900 rounded">
                  x
                </button>
              </div>
            </form>
          </div>
          <div id="dos" class="hidden p-3 border-b-2 text-lg tracking-widest bg-white">
            ...Yape
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>

    $(".list-video").each(function (index) {
      if (index == 0) { //cambiar el cero para elegir video
        var URLactual = $(this).attr('href')
        $(".cambio").attr("src", URLactual);
        contarlistas = ((index) / ($(".list-video").length - 1) * 100)
        $(".progreso").css("height", contarlistas + "%");
        var identificador = $(this).attr('id');
        cargardatos(identificador)

      }
    });

    $(".list-video").click(function (e) {
      //detenemos el boton
      e.preventDefault();
      var indice = $(".list-video").index(this);
      contarlistas = ((indice) / ($(".list-video").length - 1) * 100)
      console.log(contarlistas)
      //seleccionamos la url
      var URLactual = $(this).attr('href');
      //seleccionamos el id
      var identificador = $(this).attr('id');
      //Cambiamos el el video  
      $(".cambio").attr("src", URLactual);
      //formato json url video
      cargardatos(identificador)

      $(".progreso").css("height", contarlistas + "%");

    });

    function cargardatos(identificador) {
      
      let urlvideo = {{ urlvideo | tojson }};

      //formato json url pdf  
      let urlpdf = {{ urlpdf | tojson}};

      //buscamos en el json   
      let urlvideos = urlvideo.filter(x => x.idmodulo == identificador);
      //buscamos en el json 
      let descripcionvideos = urlvideo.filter(x => x.idmodulo == urlvideos[0].idmodulo);

      //recorremos en json descripcionvideos 
      let descripcionvideo = document.querySelector(".descripcionvideo")
      descripcionvideo.innerHTML = '';
      for (let item of descripcionvideos) {

        descripcionvideo.innerHTML += `<li id="lista" class="pb-4 hover:text-blue-500  documentospdf ">
                  <i class="fas fa-file"></i> <a class="documentospdf"  href="">${item.descripcion}</a>
                </li> `;
      }

      //buscamos en json 
      let urlpdfs = urlpdf.filter(x => x.idmodulocurso == urlvideos[0].idmodulo);

      //recorremos en json urlpdfs
      let documentospdfV = document.querySelector(".documentospdf")
      documentospdfV.innerHTML = '';
      for (let item of urlpdfs) {

        documentospdfV.innerHTML += `<li id="lista" class="pb-4 hover:text-blue-500  documentospdf ">
                  <i class="fas fa-file"></i> <a class="documentospdf"  href="">${item.url}</a>
                </li> `;
      }
    }


  </script>
  <script>
    var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
      openmodal[i].addEventListener('click', function (event) {
        event.preventDefault()
        toggleModal()
      })
    }
    // click en cualquier parte de la pagina cierra el modal 
    //const overlay = document.querySelector('.modal-overlay')
    //overlay.addEventListener('click', toggleModal)

    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener('click', toggleModal)
    }

    document.onkeydown = function (evt) {
      evt = evt || window.event
      var isEscape = false
      if ("key" in evt) {
        isEscape = (evt.key === "Escape" || evt.key === "Esc")
      } else {
        isEscape = (evt.keyCode === 27)
      }
      if (isEscape && document.body.classList.contains('modal-active')) {
        toggleModal()
      }
    };


    function toggleModal() {
      const body = document.querySelector('body')
      const modal = document.querySelector('.modal')
      modal.classList.toggle('opacity-0')
      modal.classList.toggle('pointer-events-none')
      body.classList.toggle('modal-active')
    }


  </script>
  <script>
    $(document).ready(function () {

      $(".tabs>a").on("click", function () {

        var id = $(this).attr("mostrar");

        $(this).addClass("activar").siblings().removeClass("activar");
        $(".views>div").removeClass("activar").siblings(id).addClass("activar");

      });

    });
  </script>
</body>


</html>