<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <link rel="stylesheet" href="../static/src/css/scroll.css">

  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

  <title></title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>

<body class="leading-normal tracking-normal text-indigo-400  bg-cover bg-fixed"
  style="background-image: url('../static/src/img/header.png');">
  <!-- navbar goes here -->

  <div class="relative flex  conatiner">

    <nav class=" tex-color fixed w-full top-0 max-w-full bg-gray-900 width-f  ">

      <div class="max-w-6xl mx-auto px-4 pb-2 pt-4">
        <div class="flex justify-between">
          <div class="flex space-x-4">
            <!-- logo -->
            <div>
              <div class="text-center mt-2 ">
                <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
                  <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
                    href="#">
                    Disceri
                    <span
                      class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-gray-500 to-purple-500">Music
                    </span>
                  </a>
                </h1>
              </div>
            </div>
            <!-- primary nav -->
            <div class="hidden md:flex items-center space-x-1 text-red-500">
              <a href="/" class="py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded"><i
                  class="fas fa-home"></i> Inicio</a>
              <a href="/cursos"
                class="py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded"><i
                  class="fas fa-book"></i> Curso</a>
              <a href="#"
                class="py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Planes</a>
              <a href="#"
                class="py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Preguntas</a>
            </div>
          </div>

          <!-- secondary nav -->

          {% if "usuario" in session: %}
          <div class="hidden md:flex items-center space-x-1 gap-6">
            <img src="../static/src/img/user.png" alt="..."
              class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow">
            <h1 class="text-white text-lg">Hola {{session["nombre"]}}</h1>
            <a href="/logout" class="text-white pr-4 pl-4 pt-2 pb-2 bg-yellow-500 rounded-lg ">Salir <i
                class="fas fa-sign-out-alt"></i></a>
          </div>
          {% else:%}
          <div class="hidden md:flex items-center space-x-1">
            <a href="/login" class="text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Ingresar</a>
            <a href="/registrar"
              class=" text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded transition duration-300">Registrar</a>
          </div>

          {% endif %}

          <!-- mobile button goes here -->
          <div class="md:hidden flex items-center">
            <button class="mobile-menu-button">
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>

        </div>
      </div>

      <!-- mobile menu -->
      <div class="bg-gray-900 top-14 fixed mobile-menu hidden md:hidden">
        {% if "usuario" in session:%}
        <a href="/logout"
          class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Salir <i
            class="fas fa-sign-out-alt"></i></a>
        {% else:%}
        <a href="/login"
          class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Ingresar</a>
        <a href="/registrar"
          class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Registrar</a>
        {% endif %}
      </div>
      <!-- barra  menu abajo -->

      <div class="fixed w-full  max-w-full text-center bg-gray-900 flex justify-center bottom-0 left-0 md:invisible">
        <a href="/"
          class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Inicio</a>

        <a href="/cursos"
          class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Curso</a>
        <a href="#"
          class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Planes</a>
        <a href="#"
          class="block py-5 px-3 text-white hover:text-gray-900 hover:bg-yellow-300 py-2 px-3 rounded">Preguntas</a>
      </div>
    </nav>

    <div class="mt-20 w-96 bg-gray-900 flex flex-col">
      <ol class="overflow-y-auto h-96 caja flex-col mt-6  ml-6 mr-7 list-none divide-y text-align: justify">
        {% for video in urlvideo %}
        <li class="pb-4 hover:text-blue-500"><a class="list" href="{{ video.url }}"  >{{ video.titulo }}</a></li>        
        {% endfor %}
      </ol>  
    </div>

    <div class="bg-gray-800 h-screen flex flex-col items-center">
      <div class="flex mt-24 m-2 flex-row md:w-screen max-w-screen-md text-white space-x-4 font-bold  p-2">
        <iframe class="bg-gray-900 border-4 cambio w-full h-40 md:h-96 " src="https://www.youtube.com/embed/X41HbufBhXw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="flex w-full gap-2">
        <button class="anterior text-white radio font-black text-2xl  text-center self-center w-full p-2 px-4 rounded-lg cursor-pointer hover:opacity-75 hover:text-white bg-yellow-400"><p class="m-5"><i class="fas fa-angle-double-left"></i> Anterior</p> </button>
        <button class="siguiente text-white radio font-black text-2xl  text-center self-center w-full py-2 px-4 rounded-lg cursor-pointer hover:opacity-75 bg-yellow-400 hover:text-white"><p class="m-5">Siguiente <i class="fas fa-angle-double-right"></i></p></button>
      </div>
    </div>
    
    <div class="mt-20 w-96 bg-gray-900 ">
      <h1 class="mt-2 p-2 text-center border-4 border-yellow-400 text-white rounded-t-lg">Materiales de trabajo</h1>
      <ul class=" border-4 border-yellow-400 caja flex-col list-none divide-y text-align: justify">
        <div class="divide-y mr-4 ml-4">
          {% for archivos in urlpdf %}
          <li id="lista" class="pb-4 hover:text-blue-500 listararchi listarchivo{{archivos.idmodulocurso}} invisible"> <i class="fas fa-file"></i> <a value="{{archivos.idmodulocurso}}" href="A">{{archivos.url}}</a></li>
          {% endfor %}
          
        </div>
      </ul>
      <h1 class=" mt-8 p-2 text-center border-4 border-yellow-400 text-white rounded-t-lg">Propocito de la Clase</h1>
      <ul class=" border-4 border-yellow-400 caja flex-col list-none divide-y text-align: justify">
        <div class="divide-y m-4">
          <p>en esta clase aprenderemos a como desenvolver los dedos y aprender un poco de teoria musical</p>
        </div>
      </ul>  
    </div>
    
  </div>
  
  <script src="../static/src/js/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
    integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../static/src/js/nav.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
    integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../static/src/js/datos/login.js"></script>

  <script>
    
    if (localStorage.getItem("objeG")){
      console.log("hola")
    }else{
      
      guardarlocalstoge(1)
    }

    imprimirlocalstore()
    $( ".list" ).click(function(e) {
      e.preventDefault();
      var indice = $( ".list" ).index( this );
      var URLactual = $(this).attr('href');
      $(".cambio").attr("src", URLactual);
      guardarlocalstoge(indice)
      imprimirlocalstore()
      
      $(".lista").load("/curso?curso=piano&idcurse=1#")
      
    });

    function guardarlocalstoge(indice) {

      let objeto={
        indiceList:indice  
      }

      localStorage.setItem("objeG",JSON.stringify(objeto))
      
    }
    function imprimirlocalstore(){
      
      validar()

      let objeto=JSON.parse(localStorage.getItem("objeG"));

      a=objeto.indiceList

      console.log(a)

      b=".listarchivo"+(a+1)

      $(b).addClass("visible")
      $(b).removeClass("fixed")
      $(b).removeClass("invisible")
    }
    function validar() {
      var item = document.getElementById("lista");

      var hasClaseV = item.classList.contains( 'visible' );
      var hasClaseI = item.classList.contains( 'invisible' );
      
      if(hasClaseI==true){
        $(".listararchi").addClass("invisible")
        $(".listararchi").addClass("fixed")
        $(".listararchi").removeClass("visible")
      }

      if(hasClaseV==true){
        $(".listararchi").addClass("invisible")
        $(".listararchi").addClass("fixed")
        $(".listararchi").removeClass("visible")
      }
    }  
/* const lista = document.querySelectorAll('.list');
    update(0)
    var currentActive = 0

    $(".siguiente").click(function () {
      currentActive++;
      if (currentActive > $(".list").length) {
        currentActive = $(".list").length
      }
      console.log(currentActive)
      update(currentActive)
    })

    $(".anterior").click(function () {
      currentActive--;
      if (currentActive < 0) {
        currentActive = 0
      }
      console.log(currentActive)
      update(currentActive)

    })

    function update(valor) {
      $(".list").each(function (index) {
        if (index >= 0 && index == valor) { //condicion para excluir el primer y el ultimo elemento de la lista
          var URLactual = $(this).attr('href');
          $(".cambio").attr("src", URLactual);
        }
      });

    }
    
 */
  </script>
</body>

</html>